= form_for @group do |f|
  - if @group.errors.any?
    #error_explanation
      h2 "#{pluralize(@group.errors.count, "error")} prohibited this group from being saved:"
      ul
        - @group.errors.full_messages.each do |msg|
          li =msg

  .col-md-5
    .form-group
      = f.label :name
      = f.text_field :name, class:"form-control"
    .form-group
      = f.label :address
      = f.text_field :address, class:"form-control"
    / .form-group
    /   = f.label :color
    /   -if @group.pages.size==0
    /     | У групы нет страниц
    /   -else
    /     = f.color_field :color, class:"form-control"  
    .actions
      = f.submit 'Сохранить' , class:"btn btn-success"
      = link_to 'Назад к списку групп', groups_path, class: "btn btn-danger"
