h1 Список групп

.pull-right
  -if current_user
    = link_to 'Новая группа', new_group_path, class:"btn btn-primary"

table.table.table-striped
  thead
    tr
      th Название
      th Адрес
      / th Цвет
      -if current_user
        th Действия

  tbody#sortable
    - @groups.each do |group|
      tr id="groups_#{group.id}"
        td= group.name
        td= group.address
        / td
        /   i.fa.fa-paint-brush style="color: #{group.color}"
        td

          -if current_user
            = link_to 'В группу', group_pages_path(group), class: "btn btn-success"
            = link_to 'Редактировать', edit_group_path(group), class: "btn btn-primary"
            = link_to 'Удалить', group, :method => :delete, :data => { :confirm => 'Удалить группу?' }, class: "btn btn-danger"
