p#notice= notice

p
  b Название:
  = @group.name
p
  b Адрес:
  = @group.address

-if current_user
  = link_to 'Редактировать', edit_group_path(@group), class: "btn btn-primary  "

= link_to 'Назад', groups_path, class:  "btn btn-inverse"
