= form_for [@group,@page] do |f|
  - if @page.errors.any?
    #error_explanation
      h2= "#{pluralize(@page.errors.count, "error")} prohibited this page from being saved:"
      ul
        - @page.errors.full_messages.each do |msg|
          li= msg
  .row
    .col-md-5
      .form-group
        = f.label :title
        = f.text_field :title, class:"form-control"
      .form-group
        = f.label :name
        = f.text_field :name, class:"form-control"
      .form-group
        = f.label :address
        = f.text_field :address, class:"form-control"
    .col-md-7
      .form-group
        = f.label :meta_key
        = f.text_field :meta_key, class:"form-control"
      .form-group
        = f.label :meta_des
        = f.text_field :meta_des, class:"form-control"
  .row
    .col-md-12
      .form-group
        = f.label :body
        = f.cktext_area :body, class: 'span8',:ckeditor => {filebrowserImageBrowseUrl: '/ckeditor/pictures', filebrowserImageUploadUrl: '/ckeditor/pictures',:uiColor => "#AADC6E", :toolbar => "Full"}


  .actions
    -if current_user
      = f.submit 'Сохранить' , class:"btn btn-success"
      = link_to 'Назад', group_pages_path(@group), class: "btn btn-danger"
