h1 Список страниц

table.table.table-striped
  thead
    tr
      th Заголовок
      th Тело
      th Адрес
      th

  tbody
    - @pages.each do |page|
      tr
        td= page.title
        td= page.body[0..25]
        td= page.address
        td
          -if current_user
            div class='btn-group'
              =link_to "Открыть страницу", address_path(:address=>page.address), class: "btn btn-info", target: '_blank'
              a class='btn dropdown-toggle' data-toggle='dropdown'
                span.caret
              ul.dropdown-menu
                li= link_to 'Подробнее', group_page_path(@group,page)
                li= link_to 'Редактировать', edit_group_page_path(@group,page)
                li= link_to 'Удалить', group_page_path(@group,page), method: 'delete', data: { confirm: 'Вы уверены, что хотите удалить эту страницу?' }
          -else
            =link_to "Открыть страницу", address_path(:address=>page.address), class: "btn btn-info", target: '_blank'
br
-if current_user
  = link_to 'Новая страница', new_group_page_path(@group), class:"btn btn-primary"
  = link_to 'Назад к списку групп', groups_path, class:"btn btn-danger"
