- content_for :meta do
  meta name='description' content="#{@page.meta_des}"
  meta name='keywords' content="#{@page.meta_key}"

-if current_user && @group.present? && @page.present?
  .edit-btn
    = link_to 'Редактировать', edit_group_page_path(@group,@page), role: "button", class: 'btn btn-primary'
    = link_to 'Перейти в группу страницы', group_pages_path(@group), role: "button", class: 'btn btn-success'

-if @group.present?
  -pages = @group.pages.order("created_at")
  -if pages.size>1
    .btn-group.btn-group-justified role="group" style="display:block; text-align: center;"
      -pages.each do |pag|
        = link_to pag.name, address_path(:address=>pag.address), class: "btn btn-#{ pag.id == @page.id ? 'primary' : 'default'}"
br

- content_for :title do
  =@page.title

= raw(@page.body)
