%h2 Авторизация
= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
  .row
    .col-md-4
      .form-group
        = f.label 'Электронная почта'
        = f.email_field :email, :autofocus => true, class:"form-control"
      .form-group
        = f.label 'Пароль'
        = f.password_field :password , class:"form-control"


      - if devise_mapping.rememberable?
        .form-group
          .checkbox
            = f.check_box :remember_me, style:'margin-left: 0px;'
            = f.label "Запомнить меня"

      .pull-right
        %div= f.submit "Войти", class:"btn btn-link"
= render "devise/shared/links"
