/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require jquery-ui
 *= require font-awesome
 *= require_self
 *= require_tree
*/

@import "bootstrap";

body {
  background-color: rgba(255, 255, 255, 0.2);
}
.container {
  max-width: 80em;
}

.info-panel{
  padding: 5px 0px 10px 0px;
  background-image: url("/images/fon_logo4.png");
  background-repeat: repeat-x;
  height: 150px;
}

.btn {
  margin: 5px 2px;
}

.brand{
  font-size: larger;
  text-decoration: none !important;
}

.work-address{
  font-size: larger;
  text-align: right;
  background-color: rgba(255, 255, 255, 0.7);
}

.group-link {
  margin: 1px 0px;
  padding: 10px;
  background-color: rgb(198, 217, 236);
  text-align: center;
  color: #2c65af;
  // font-size: large;
  display: block;
  border-left: 10px solid #245eab;
  text-decoration: none !important;
}

.group-link-active {
  // margin: 3px 0px;
  // padding: 10px;
  // background-color: rgb(198, 217, 236);
  // text-align: center;
  // color: #2c65af;
  // font-size: large;
  // display: block;
  border-right: 10px solid #245eab;
  border-left: none;
  // text-decoration: none !important;
}

.footer {
  text-align: center;
}

.gradient-menu::before {
    /* Градиент */
    background: #ffffff;
    background: -moz-linear-gradient(left, #ffffff 0%, #245eab 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #ffffff), color-stop(100%, #245eab));
    background: -webkit-linear-gradient(left, #ffffff 0%, #245eab 100%);
    background: -o-linear-gradient(left, #ffffff 0%, #245eab 100%);
    background: -ms-linear-gradient(left, #ffffff 0%, #245eab 100%);
    background: linear-gradient(to right, #ffffff 0%, #245eab 100%);
    content: "";
    display: block;
    /* Вместо толщины */
    height: 5px;
    width: 100%;
}
