.info-panel
  .row
    .col-md-6
      h2
        a.brand href='/' Promotion City
      div style="font-size: small; margin-top: -10px;"  
        | Рекламное агентство
      
    .col-md-6.work-address
      div Понедельник - Пятница с 10.00 до 18.00
      div +7 (980) 710 14 21 |  +7 (48439) 79 259
      div г. Обнинск, пр-т. Маркса 71, ТЦ MOST, 3 этаж

.gradient-menu
