.left-menu
  -if user_signed_in?
    =link_to "Список групп", groups_path(), class:"btn btn-warning btn-block"
    br
  -groups = Group.where.not(address: 'main').order("position")
  -if groups.count > 0
    -groups.each do |group|
      -pages = group.pages.all
      -if group.pages.count > 0
        a.group-link class="#{@group == group  ? 'group-link-active' : nil}" href="#{address_path(:address=>pages.first.address)}"
          =group.name
