doctype html
html
  head
    meta content="width=device-width, initial-scale=1.0" name="viewport"
      title #{content_for?(:title) ? yield(:title) : "Многопрофильное рекламное агенство Promotion City"}
      meta content="#{content_for?(:description) ? yield(:description) : "Grad"}" name="description"
      =stylesheet_link_tag 'application', media: 'all'
      script type="text/javascript" src='http://api-maps.yandex.ru/2.0-stable/?load=package.standard&lang=ru-RU'
      =javascript_include_tag "application"
      =csrf_meta_tags
      == yield :head
      == yield :meta
  body
    .container
      = render 'layouts/info_panel'
      = render 'layouts/messages'
      .row
        .col-3
          = render 'layouts/left_menu'
        .col-9
          == yield

  .footer
    | &copy #{Time.now.year} Promotion City | 
    - if user_signed_in?
      span.glyphicon.glyphicon-remove-circle
      = link_to 'Выйти', destroy_user_session_path
    - else
      span.glyphicon.glyphicon-user
      = link_to 'Войти', new_user_session_path
